# Queno 1

# Missing Values in a Dataset

In [ ]:
#Missing values are missing data have occur when we don't have data stored for certain variables or participant.

In [ ]:
#In missing values data goes missing due to incomplete entry,lost files and many other reason.

In [ ]:
#There are three types of missing values;
#1.Missing completely at random when missing values are randomly distributed they can come from anywhere in the whole
#distribution of our values.
#2.Misssing at random when this type of missing values systematically differs from data we've collected but it can be 
#fully accounted by other observed variables.
#3.Missing at random in this missing values systematically differs from observed values.

In [ ]:
#It is necessary to handle missing values in dataset because training a model with a dataset with lots of missing values 
#can negatively impact the quality of machine learning model.

In [ ]:
#Some of the algorithms that can handle missing values are KNN algorithm,naive bayes and random forest algorithms.

# Queno2

# Handling missing Values in python

In [ ]:
#First of all we have to create a data frame with missing values.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict={'Math score':[98,96,np.nan,93],'Science score':[56,87,78,np.nan],'Social score':[76,98,np.nan,90]}
df=pd.DataFrame(dict)

In [3]:
df

   Math score  Science score  Social score
0        98.0           56.0          76.0
1        96.0           87.0          98.0
2         NaN           78.0           NaN
3        93.0            NaN          90.0

In [ ]:
#now we can check it by using notnull() function

In [4]:
df.notnull() 
#the values which is missing there it is showing false

   Math score  Science score  Social score
0        True           True          True
1        True           True          True
2       False           True         False
3        True          False          True

In [ ]:
#we can also use another method df.fillna to find missing values

In [6]:
df.fillna(0)
#here we have filled with 0 where it is missing values.

   Math score  Science score  Social score
0        98.0           56.0          76.0
1        96.0           87.0          98.0
2         0.0           78.0           0.0
3        93.0            0.0          90.0

In [ ]:
#Now another function is dropna

In [9]:
df.dropna() #so here missing values rows are dropped.

   Math score  Science score  Social score
0        98.0           56.0          76.0
1        96.0           87.0          98.0

In [10]:
#replacefunction()
df.replace(to_replace=np.nan,value=66) 
#so here with help of replace fuction we have replaced missing values with 66.

   Math score  Science score  Social score
0        98.0           56.0          76.0
1        96.0           87.0          98.0
2        66.0           78.0          66.0
3        93.0           66.0          90.0

In [ ]:
#so in this way we have used different function for handling missing values in python.

# Queno3

# Imbalanced Data

In [ ]:
#In imbalanced dataset one bucket makes up large proportion of training dataset that is majority class while other bucket
#is underrepresented in dataset that is minority class.

In [ ]:
#If an imbalanced dataset is not handled then models may get biased towards majority class resulting in poor prediction
#for minority class and model performancefor minority class will be lacking.

# Queno 4

# Upsampling And Downsampling

In [ ]:
#Upsampling is a method used to increase the number of instances in dataset and it is commonly used when there is imbalanced
#distribution of data with one class being significantly underrepresented.

In [ ]:
#By increasing the number of instances in minority class upsampling helps to prevent the model being biased towards
#majority class.

In [ ]:
#Downsampling is a method used to decrease the size of dataset by removing some of instances.

In [ ]:
#This is often used to reduce training time and to eliminate irrelevant instances from dataset and also used to address
#the problem of overfitting.

# Queno 5

# Data Augmentation

In [ ]:
#Data augmentation is a technique of artificially increasing the training set by creating modified copies of dataset using
#existing data.

In [ ]:
#Data in this technique is derived from original data with minor changes.

In [ ]:
#This technique is used in different format of data like images,text,video,audio etc.

In [ ]:
#It is used in model to prevent models from overfitting and to improve model accuracy.

# SMOTE

In [ ]:
#Synthetic Minority Oversampling Technique is a statistical technique for increasing the number of cases in our dataset 
#in a balanced way.

In [ ]:
#This technique work as generating new instances from existing minority classes that we supply as input and this 
#implementation of smote does not change the number of majority cases.

In [ ]:
#Smote takes the entire dataset as input but it increases the percentage of only minority cases.

# Queno 6

# Outliers In Dataset

In [ ]:
#Outlier is an extrmely high or extremely low datapoint comparing to other datapoints which are nearest with each other.

In [ ]:
#For getting outliers in a datset we have to calculate iqr which can be subtracted by q3 that is q1.

In [ ]:
#After calcualting iqr we have to calculate lowest value and highest value if any of value if we datapoint below lowest
#value then it will be lower outliers and if we have datapoint more than highest value then it will be higher outliers.

In [ ]:
#Some outliers represent natural variations and they should be left in our dataset as they are called true outliers 
#while some outliers are problematic and should be removed as they represent measurement error,poor sampling ,data entry
#So it is necessary to handle or remove outliers as they can affect statistical analysis and training process of machine
#learning model.

# Queno 7

In [ ]:
#There are various methods to handle missing data that is deletion,imputation or estimation.

In [ ]:
#While analysing customer data if some data is missing then we can use this techniques.

In [ ]:
#We can delete rows and coloumns that contains missing values but it can reduce size and diversity of our dataset and 
#introduce bias in our analysis.

In [ ]:
#Another method we can use to handle missing values is imputation that is we can replace the missing values with another 
#values based on available value and it can preserve the size and structure of our dataset but there is not so much accuracy
#and validity of our analysis.

In [ ]:
#Estimation is also one of method through which we can handle missing values in customer data that is using statistical
#models or algorithm without directly filling missing values as this technique does not alter original data but it require
#certain assumptions and conditions to be met.

# Que no 8

In [ ]:
#If there is large datset and only small proportion of data is missing then it is a case of missing completely at random
# and deleting listwise technique can be used to handle missing values but it would be most suitable when there is 
#small dataset.

In [ ]:
#Another method is if data is missing in large dataset then it is best to drop the variable that stored missing values
#and can after modify the variable by handling missing values and then can use that variable.

# Que no 9

In [ ]:
#There are many evaluation techniques for imbalanced dataset.

In [ ]:
#Among one of them is ROC curve and AUC which plots the true positive rate versus false positive rate for different 
#threshold values.

In [ ]:
#A higher AUC indicates better model that can distinguish between classes.

In [ ]:
#A higher average precision indicates a better model that can predict the minority class accurately.

In [ ]:
#Another technique is Cohen's kappa measure.

In [ ]:
#Cohen's kappa is a measure of agreement between models predictions and actual labels.

In [ ]:
#A higher kappa indicates a better model that can predict both classes reliably.

# Queno 10

In [ ]:
#For downsampling majority class we have to randomly remove observations from majority class to prevent its signal 
#from dominating the algorithm.

In [ ]:
#First we can separate observation of each class in to different dataframe.

In [ ]:
#Next we can resample majority class without replacement setting numbers to match that of minority class.

In [ ]:
#Then finally we can combine downsampled majority class dataframe with original minority class  dataframe.

In [ ]:
#This time we got new dataframe of balanced data of two class which arein the rastio 1:1.

# Queno 11

In [ ]:
#Here same technique of resampling is used for upsampling minority class which we have discussed in queno 10.

In [ ]:
#We have to separate the observations from each class in to different dataframes.

In [ ]:
#Then we have resample the minority class with replacement setting no of samples to match that of majority class.

In [ ]:
#Then we can combine upsampled minority class dataframe with original majority class dataframe.

In [1]:
#After that we got new dataframe in which observation ratio of two class is 1:1 which is balanced.