In [10]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://jamalshahroz57:shahroz@cluster0.9syittf.mongodb.net/?retryWrites=true&w=majority")

In [11]:
db=client['admission']

In [12]:
coll_create=db["details"]

In [13]:
data=[{"roll_no":"1","name":"shahroz","age":"26","course":"phd_sociology"},
      {"roll_no":"2","name":"muaz","age":"28","course":"phd_economics"},
      {"roll_no":"3","name":"jamal","age":"27","course":"phd_geography"},
      {"roll_no":"4","name":"haris","age":"26","course":"phd_history"}]

In [14]:
coll_create.insert_many(data)

In [15]:
coll_create.delete_one({"roll_no":"2"})

In [19]:
x=coll_create.find()
for record in x:
    print(record)

{'_id': ObjectId('651a83244a885ba18aef9756'), 'roll_no': '1', 'name': 'shahroz', 'age': '26', 'course': 'phd_sociology'}
{'_id': ObjectId('651a83244a885ba18aef9758'), 'roll_no': '3', 'name': 'jamal', 'age': '27', 'course': 'phd_geography'}
{'_id': ObjectId('651a83244a885ba18aef9759'), 'roll_no': '4', 'name': 'haris', 'age': '26', 'course': 'phd_history'}

In [27]:
coll_create.delete_many({"age":{"$gt":"26"}})

In [28]:
x=coll_create.find()
for record in x:
    print(record)

{'_id': ObjectId('651a83244a885ba18aef9756'), 'roll_no': '1', 'name': 'shahroz', 'age': '26', 'course': 'phd_sociology'}
{'_id': ObjectId('651a83244a885ba18aef9759'), 'roll_no': '4', 'name': 'haris', 'age': '26', 'course': 'phd_history'}

In [29]:
coll_create.drop()

In [30]:
x=coll_create.find()
for record in x:
    print(record)

In [ ]:
#so in this way we have used delete_one to delete rollno_2 and delete_many for deleting age greater than 26 and at las tdrop the tablewhich means no such table of "details exist".