# Queno1

# Difference between Ordinal and Label encoding

In [ ]:
#Ordinal encoding and label encoding both used in categorical data but difference is that ordinal encoding is used
#in categorical data which is in order but label encoding is used in categorical data where there is no order or it can
#also be applied on ordinal data.

In [ ]:
#Label encoding apply both on ordinal and nominal data while ordinal encoding only can be applied on ordinal data.

In [ ]:
#For example excellent,good and average are categorical value with order which is an example of ordinal data and
#ordinal encoding would be applied in it.

In [ ]:
#While label encoding works in the ordinal data as well as nominal data such different names of animal,places etc.

# Queno 2

# Target guided encoding

In [ ]:
#Target guided encoding is best suited for ordinal data which is in order.

In [ ]:
#Target guided encoding involves sorting categories based on mean target variable for each category and then assigning
#a numerical value to each category based on its rank.

In [ ]:
#For example lets have dataset that contains information about survey of different parties and in thisone variable is 
#public response level which is of four categories excellent,verygood,good and average and the target variable of thiscase
#is survey result of different parties.

In [ ]:
#So after that to encode response level variable using target guided  encoding we would calculate the mean votes for
#each response level categories as follows;
#excellent=5000
#very good=3500
#good=2000
#average=1000
#After that we can sort the response level based on their mean votes from lowest to highest and assign ordinal numbers based
#on their rank
#average=1
#good=2
#very good=3
#excellent=4

In [ ]:
#So we have encoded the response level using target guided encoding and we can use these ordinal numbers as input features
#in a machine learning model to predict survey result of different parties.

# Queno 3

# Covariance and its  Importance

In [ ]:
#Covariance is a measure of variance between two variables.

In [ ]:
#Its result in two types that is positive covariance and negative covariance.

In [ ]:
#Positive covariance indicates that two variables tend to move in same direction.

In [ ]:
#Negative covariance reveals two variables tend to move in inverse directions.

In [ ]:
#Covariance can be calculated between two random variables X and Y using formulae 
#cov(x,y)=(values of x variable-mean of x variable)(values of y variable-mean of y variable)/no of data points -1

In [ ]:
#Covariance is used to measure the degree to which two variables change together.

# Queno 4

In [ ]:
#First of all we have to create data frame of different columns

In [14]:
import pandas as pd
data=[['red','small','wood'],['green','medium','metal'],['blue','large','plastic']]

In [15]:
df=pd.DataFrame(data,columns=['color','size','material'])

In [16]:
df

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [17]:
df['color'].unique()

array(['red', 'green', 'blue'], dtype=object)

In [ ]:
#so we can apply label encoding in coloumn color which is of three categorical feature that is red,gree,blue

In [ ]:
#after applying label encoding categorical value got replaced with numerical value.

In [18]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['color']=label_encoder.fit_transform(df['color'])

In [19]:
df['color'].unique()

array([2, 1, 0])

In [ ]:
#so here we got the result of color column in which red color given high priority which is 2 and blue given low priority 
#that is 0.

In [ ]:
#In the same way we can calcualte the label encoding of other coloumns also that is size and material

In [8]:
df['size']=label_encoder.fit_transform(df['size'])

In [9]:
df['size'].unique()

array([2, 1, 0])

In [ ]:
#so this the way we can do label encoding.

# Queno5

In [ ]:
#First of all create dataframe with given column age and income not for education level as it is  nominal
#categorical coloumn.

In [2]:
import pandas as pd

In [3]:
data=[[25,34000],[30,50000],[32,55000],[35,60000]]

In [4]:
df=pd.DataFrame(data,columns=['Age','Income'])

In [5]:
df

   Age  Income
0   25   34000
1   30   50000
2   32   55000
3   35   60000

In [ ]:
#lets consider age as x variable and income as y variable

In [ ]:
#now we to calculate variance of column age and column income separately.

In [8]:
df['Age'].var()
#SO VARIANCE OF X variable is 17.66

17.666666666666668

In [9]:
df['Income'].var()
#so variance of y variable is 126916666.66

126916666.66666667

In [ ]:
#now we have to calculate cov(x,y) 
#mean ofx variable is 30.5 and y varaible is 49,750.
#cov(x,y)=(25-30.5)(34000-49750)+(30-30.5)(50000-49750)+(32-30.5)(55000-49750)+(35-30.5)(60000-49750)
#-5.5*-15750+(-0.5*250)+(1.5*5250)+(4.5*10250)
#86625-125+7875+46125
#140,500
#so cov(x,y)=cov(y,x)=140,500

In [ ]:
#so 2*2 matrix will be  [varx,cov(x,y)]
  #                     [cov(y,x),var(y)]

In [ ]:
#so the covariance matrix of age and income would be 
# [17.66,140,500]
# [140,500,126916666.66]

# Queno 6

In [ ]:
#Both label encoding method and one hot encoding can be used for variable as this is nominal categorical column 
#that is gender  and ordinal encoding can also be used in columns such as education level as it shows order and employ
#ment status also.

In [ ]:
#so in this way we can transform thecategorical data in to numerical one.

# Queno 7

In [ ]:
#here we hav two categorical column that is weather condition and wind direction we can use label encoding to covert 
#this categorical column into numeric value so that we can calculate the covariance matrix

In [10]:
#so letscreate dataframe
data=[[45,95,'sunny','north'],[35,90,'cloudy','south'],[30,85,'rainy','east'],[46,98,'sunny','west']]

In [11]:
df1=pd.DataFrame(data,columns=['temperature','humidity','weather condition','wind direction'])

In [12]:
df1

   temperature  humidity weather condition wind direction
0           45        95             sunny          north
1           35        90            cloudy          south
2           30        85             rainy           east
3           46        98             sunny           west

In [25]:
#now letstake column weather condition in label encoding  
df1['weather condition']=label_encoder.fit_transform(df1['weather condition'])

In [22]:
df1['wind direction']=label_encoder.fit_transform(df1['wind direction'])

In [23]:
df1['wind direction'].unique()

array([1, 2, 0, 3])

In [ ]:
#so here we saw that column wind direction has assigned new numeric values

In [24]:
df1

   temperature  humidity  weather condition  wind direction
0           45        95                  2               1
1           35        90                  0               2
2           30        85                  1               0
3           46        98                  2               3

In [ ]:
#now we can calculate covariance matrix of this dataset lets take three variables x,y andz x as temperature ,y as humidity
#and z as weather condition.

In [26]:
df1['temperature'].var()
#so variance ofx variable is 60.66

60.666666666666664

In [27]:
df1['humidity'].var()
#variance of y variable is 32.66.

32.666666666666664

In [28]:
df1['weather condition'].var()
#variance of z variable is 0.91.

0.9166666666666666

In [ ]:
#after that we can finf cov(x,y),cov(x,z)and cov(y,z)
#andthen put value in the form [var(x),cov(x,y),cov(x,z)]
#                              [cov(x,y),var(y),cov(y,z)]
#                              [cov(x,z),cov(y,z),var(z)]
#so in this way we areableto get the covariance matrix aswehave done in que no 5.